# CMake
CMakeLists.txt.user
CMakeCache.txt
cmake_install.cmake
CMakeFiles/
Makefile
install_manifest.txt
CTestTestfile.cmake
cmake-build-*
# build folders
build/
# CLion
.idea
.vscode
__pycache__
.pytest_cache
.ideal
